<div class="container">
  
  <div ng-if="myInfoCtrl.userFavorite === undefined" id="user-info-not-signed-msg"> 
    <a ui-sref="public.signup">Not Signed Up Yet. Sign up Now!</a>
  </div>

  <table id="user-info-table" ng-if="myInfoCtrl.userFavorite != undefined" class="table">
    <tr>
      <td>First name: </td>
      <td>{{myInfoCtrl.userFavorite.firstName}}</td>
    </tr>
    <tr>
      <td>Last name: </td>
      <td>{{myInfoCtrl.userFavorite.lastName}}</td>
    </tr>
    <tr>
      <td>Email: </td>
      <td>{{myInfoCtrl.userFavorite.email}}</td>
    </tr>
    <tr>
      <td>Phone: </td>
      <td>{{myInfoCtrl.userFavorite.phone}}</td>
    </tr>
    <tr>
      <td>Favorite: </td>
      <td><menu-item id="user-info-menu-item" menu-item="myInfoCtrl.userFavorite.favoriteMenuItem"></menu-item></td>
    </tr>
  </table>

</div>