<!doctype html>
<html lang="en" ng-app='LunchCheck'>
  <head>
    <script src="angular.min.js"></script>
    <script src="app.js"></script>
    <title>Lunch Checker</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="styles/bootstrap.min.css">
    <style>
      .message { font-size: 1.3em; font-weight: bold; }
    </style>
  </head>
<body>
   <div class="container" ng-controller='LunchCheckController'>
     <h1>Lunch Checker</h1>

         <div class="form-group">
             <input id="lunch-menu" type="text" ng-model="lunchItems"
             placeholder="list comma separated dishes you usually have for lunch"
             class="form-control">
             <p class="small">We DO consider and empty item as an item towards to the count. (i.e. 1, , ,3 would = 4 items...)</p>
         </div>
         <div class="form-group" >
             <button class="btn btn-default" ng-click="checkIfTooMuch()">Check If Too Much</button>
         </div>
         <div class="form-group message {{messageColor}}">
           {{lunchMessage}}
         </div>
   </div>

</body>
</html>
