<!doctype html>
<html lang="en" ng-app='NarrowItDownApp'>
  <head>
    <script src="angular.min.js"></script>
    <script src="app.js"></script>
    <title>Narrow Down Your Menu Choice</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="styles/bootstrap.min.css">
    <link rel="stylesheet" href="styles/styles.css">
  </head>
<body>
  <div class="jumbotron" style="display: block;" ng-controller='NarrowItDownController as makeNarrow'>
    <h1>Narrow Down Your Chinese Menu Choice</h1>
    <div class="form-group">
      <input type="text" placeholder="search term" ng-model="makeNarrow.searchTerm" class="form-control">
    </div>
    <div class="form-group narrow-button">
      <button class="btn btn-primary" ng-click="makeNarrow.parseMenu()">Narrow It Down For Me!</button>
    </div>
    <div style="display: block;">
      <br>
    </div>
    <!-- found-items should be implemented as a component -->
    <found-items style="display: block;" items="makeNarrow.found" empty-message="makeNarrow.emptyMessage()" on-remove="makeNarrow.remove(index)"></found-items>
  </div>

</body>
</html>
